NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCyhW2KX-efNYoskSTsi0y-1iBmeFM4DSA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexora-app-e9f55.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexora-app-e9f55
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexora-app-e9f55.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=218850835883
NEXT_PUBLIC_FIREBASE_APP_ID=1:218850835883:web:9f84400fce7c417e87e6ee
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-RWYM8T9R54
